body {
	padding: 0px;
	margin: 0px;
	text-align: center;
}

ul {
	list-style-type: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

ul li {
	text-align: center;
	padding: 5px;
}

li a[title] {
	font-family: 黑体;
	font-size: medium;
	text-decoration: none;
}

#win {
	overflow: hidden;
}

